.steps-container,
.ingredients-container {
    display: none;
    margin-top: 10px;
    padding-left: 15px;
}

.visible {
    display: block;
}

.steps ul {
    list-style-type: decimal;
}

.substeps {
    margin-left: 20px;
    list-style-type: circle;
}

.toggle-btn {
    margin-right: 8px;
    margin-top: 10px;
}
